{% extends "layout.html" %}

{% block body %}



<div class="jumbotron text-center">
    <h3>Yazılım Bloğuna Hooşgeldiniz</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet consectetur obcaecati culpa reprehenderit sapiente porro fuga, recusandae, qui possimus assumenda repellat? Commodi assumenda necessitatibus dolorem rem iusto! Ab, beatae qui.</p>
</div>

{% endblock body %}

    <!--
    <!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    # href="../static/style.css"
     {% static 'css/style.css' %}#
     <title>NKBlog</title>
    </head>
    <body>
        <h3 >Anasayfa</h3>
        <p>Deneme</p>
        <a>aaaaa</a>
    </body>
    </html>
    -->

